/*--cabeçalho-->*/
body{
    font-family: 'Trebuchet MS', helvetica sans-serif;
    background: #e6e6e6;
}

#cabeca{
    background-color: #f7b600;
    padding: 20px;
}

.linha{
    text-align: center;
}

#branco{
    color: white
}

header a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

header a:hover{
    color: white;
    background-color: #e7aa00;
}

/*--Lado esquerdo*/
main div{
    background: white;
    width: 680px;
    margin: 10px;
    padding: 10px 5px;   
}

main h2{
    color:  #f7b600;
    margin: 10px 5px 0px 5px;
    padding: 10px 10px 0px 10px;
}

main h5{
    margin: 0px 10px;
    padding: 1px 10px 0px 10px;
}

main p{
    font-weight: bold;
    margin: 5px 20px;
}

main a{
    margin: 0px 10px 15px 20px;
    color: #f7b600;
    font-weight: bold;
    text-decoration: none;
}

img{
    margin: 10px 10px 0px 10px;
    padding: 10px 10px 0px 10px;
}

/*--Lado direito--*/

nav{
   display: flex;
   flex-direction: column;
   float: right;
}

nav h3{
    border: 1px solid #e4e4e4;
    background-color: rgb(185, 185, 185);
    margin: 5px;
    padding: 5px
}

nav p{
    font-weight: bold;
    margin: 5px 10px;
}

nav a{
    color: #f7b600;
    font-weight: bold; 
    text-decoration: none;
    padding-left: 10px ;
}

nav ul{
    padding: 0px 5px;
    color: #e7aa00;
    font-weight: bold;
}

nav div{
    background-color: white;
    float: right;
    padding: 10px;
    margin: 10px 10px 10px 10px;
    text-align: left;
}